<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>收容社区</title>
    <link href="/css/404.css" rel="stylesheet"  />
    <script src="/js/jquery-3.4.1.min.js"></script>
    <script src="/js/bootstrap.js" type="application/javascript"></script>

    <script type="text/javascript">
        $(function() {
            var h = $(window).height();
            $('body').height(h);
            $('.mianBox').height(h);
            centerWindow(".tipInfo");
        });

        //2.将盒子方法放入这个方，方便法统一调用
        function centerWindow(a) {
            center(a);
            //自适应窗口
            $(window).bind('scroll resize',
                function() {
                    center(a);
                });
        }

        //1.居中方法，传入需要剧中的标签
        function center(a) {
            var wWidth = $(window).width();
            var wHeight = $(window).height();
            var boxWidth = $(a).width();
            var boxHeight = $(a).height();
            var scrollTop = $(window).scrollTop();
            var scrollLeft = $(window).scrollLeft();
            var top = scrollTop + (wHeight - boxHeight) / 2;
            var left = scrollLeft + (wWidth - boxWidth) / 2;
            $(a).css({
                "top": top,
                "left": left
            });
        }
    </script>
</head>
<body>

<div class="mianBox">
    <img src="/images/yun0.png" alt="" class="yun yun0" />
    <img src="/images/yun1.png" alt="" class="yun yun1" />
    <img src="/images/yun2.png" alt="" class="yun yun2" />
    <img src="/images/bird.png" alt="" class="bird" />
    <img src="/images/san.png" alt="" class="san" />
    <div class="tipInfo">
        <div class="in">
            <div class="textThis">
                <h2><p th:text="${message}" style="font-size: 24px;">出错啦~等下再试试！~</p></h2>
                <p><span class="glyphicon glyphicon-send"><a id="href" href="/">回到主页</a></span></p>
            </div>
        </div>
    </div>
</div>
</body>
</html>